<div class="flex gap-5">
    <button id="openModal" class="font-bold px-4 py-3 border border-gray-300 rounded-lg">Add folder</button>
    <form action="/admin/gallery/image-upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" class="px-4 py-3 border border-gray-300 rounded-lg" >
        <button type="submit" class="border border-indigo-500 px-4 py-3 rounded-lg">Submit</button>
    </form>
</div>
<!-- <form action="/admin/gallery/image-upload" method="post" enctype="multipart/form-data">
    
    <select name="folder" class="px-4 py-3 border rounded-lg">
        <option value="banners">Banners</option>
        <option value="products">Products</option>
        <option value="blog">Blog</option>
        <option value="default">Default</option>
    </select>

    <input type="file" name="image" class="px-4 py-3 border rounded-lg">
    
    <button type="submit" class="border border-indigo-500 px-4 py-3 rounded-lg">
        Upload
    </button>
</form> -->

<div class="gallery_wrapper grid grid-cols-12 gap-4 mt-5" >
    <!-- folder [LEFT] -->
    <!-- CRUD Folder Section - 3 cols -->
    <div class="col-span-2">
        <!-- CRUD Folder component sẽ ở đây -->
        <div id="folder_tree" class="text-sm select-none">

    <!-- ROOT -->
    <div data-folder="all"
        class="folder-item root flex items-center gap-2 px-3 py-2 rounded-lg cursor-pointer 
               bg-indigo-50 text-indigo-700 font-semibold">
        <!-- <span>📁</span> -->
                 <i class="fa-solid fa-folder-tree text-amber-500"></i>
        <span>Tất cả</span>
    </div>

    <!-- CHILDREN -->
    <% folders.forEach(folder => { %>
        <div data-folder="<%=folder._id%>"
            class="folder-item child flex items-center gap-2 px-3 py-2 rounded-lg cursor-pointer 
                   hover:bg-gray-100 text-gray-700 relative">
            
            <!-- indent line -->
            <span class="absolute left-3 top-0 bottom-0 w-px bg-gray-200"></span>

            <!-- icon -->
            <span class="ml-4"></span>
                 <i class="fa-solid fa-folder-open text-amber-400"></i>



            <!-- name -->
            <span class="flex-1"><%=folder.name%></span>

        </div>
    <% }) %>

</div>

    </div>

    <!-- gallery grid [RIGHT]-->
<div class="col-span-9">
    <div id="image_container" class="grid gird-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-6 mt-5">
    <%if(images.length ===0){%>
        <p class="col-span-full text-center text-gray-500">Chưa có ảnh nào</p>
    <%}else{%>
        <%images.forEach(img=>{%>
            <div class="group relative rounded-xl overflow-hidden shadow bg-white dark:bg-gray-800">
                <!-- IMAGE -->
                 <img src="/<%=img.path%>" alt="<%=img.name%>"
                 class="w-full h-40 object-cover transition-transform duration-300 group-hover:scale-105"
                 >
                 <!-- OVERLAY -->
        <div
          class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100
          flex items-center justify-center gap-3 transition"
        >
          <a
            href="/<%= img.path %>"
            target="_blank"
            class="px-3 py-1.5 bg-white rounded-lg text-sm font-medium hover:bg-gray-100"
          >
            View
          </a>

          <button
            data-id="<%=img.path%>"
            class="px-3 py-1.5 bg-red-500 text-white rounded-lg text-sm hover:bg-red-600"
          >
            Delete
          </button>
        </div>
                 <!--  -->
            </div>
       <% })%>
    <%}%>
</div>
</div>

</div>

<!-- Modal -->

<!-- MODAL -->
<div id="modal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black/50">
  
  <!-- BOX -->
  <div class="bg-white rounded-xl shadow-lg w-[400px] max-w-full p-6 relative">

    <h2 class="text-lg font-bold mb-3">Folder popup</h2>
    <!-- <p class="text-gray-600">Nội dung modal ở đây</p> -->
     <div>
        <input type="text" name="foler_name" class="w-full px-4 py-3 border border-gray-300 rounded-lg" placeholder="Folder name...">
     </div>

    <!-- actions -->
    <div class="mt-6 flex justify-end gap-2">
      <button id="closeModal" class="px-4 py-2 border rounded">Cancel</button>
      <button id="btn_cta_create_folder" class="px-4 py-2 bg-blue-500 text-white rounded">OK</button>
    </div>

    <!-- close icon -->
    <button id="closeX" class="absolute top-2 right-5 text-gray-400 hover:text-red-500">✕</button>
  </div>
</div>

<!-- ==========SCRIPT HERE ===============-->
<script>
    // global scope
    const imageContainerElement = document.querySelector('#image_container');
    // modal
    const modal = document.getElementById("modal")

document.getElementById("openModal").onclick = () => {
  modal.classList.remove("hidden")
  modal.classList.add("flex")
}

function closeModal(){
  modal.classList.add("hidden")
  modal.classList.remove("flex")
}

document.getElementById("closeModal").onclick = closeModal
document.getElementById("closeX").onclick = closeModal

// click nền đóng
modal.addEventListener("click",(e)=>{
  if(e.target === modal) closeModal()
})
    // lang nghe su kien click btn xoa
    imageContainerElement.addEventListener('click', (ev)=>{
        const deleteBtn = ev.target.closest('button[data-id]');
        if(!deleteBtn || !imageContainerElement.contains(deleteBtn)) {return};
        const imagePath = deleteBtn.dataset.id;
        console.log('data id '+imagePath);
        $.ajax({
            method: "delete",
            url: `/admin/gallery/image-delete`,
            contentType: 'application/json',
            data: JSON.stringify({img_slug: imagePath}),
            success: (res)=>{
                if(res.success){
                    document.location.reload();
                } 
                console.log('delete success')},
            error: (xhr, status, err)=>console.log(xhr.responseJSON?.mess||"Server error")
        })
    })
    document.querySelector('#btn_cta_create_folder').addEventListener('click', (ev)=>{
        const payload = {name: document.querySelector('input[name="foler_name"]').value}
        //
        fetch(`/admin/`,
            {
                method: 'POST',
                body: JSON.stringify(payload),
                headers: {'Content-Type': 'application/json'}
            }
        ).then(res=>res.json())
        .then(res=>{console.log(res); if(res.success){alert('created success')}})
        .catch(err=>{console.log('loi tao thu muc'); alert('created folder failed')})
    })
</script>